In [952]:
import pandas as pd
import numpy as np

In [953]:
# Store filepath in a variable
datafile = "purchase_data.json"
# Read our Data file with the pandas library
datafile_df = pd.read_json(datafile, orient = "columns")

datafile_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [954]:
datafile_df.count()

Age          780
Gender       780
Item ID      780
Item Name    780
Price        780
SN           780
dtype: int64

In [955]:
#cleanup
datafile_df = datafile_df.rename(
    columns={"SN": "Player Name"})

datafile_df = datafile_df.dropna()

In [956]:
datafile_df.count()

Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
Player Name    780
dtype: int64

In [957]:
# Show just the header
datafile_df.head()

,Age,Gender,Item ID,Item Name,Price,Player Name
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [958]:
#find out how many unique players
unique_player_count = datafile_df["Player Name"].value_counts()
len(unique_player_count)

573

In [959]:
#find out how many unique male players

In [960]:
#find out how many unique female players

In [961]:

total_non_unique_players = len(datafile_df)
total_non_unique_players

#**Purchasing Analysis (Total)**

780

In [962]:
# Number of Unique Items
game_counts =len(datafile_df["Item Name"].value_counts())
game_counts

179

In [963]:
datafile_df.dtypes

Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
Player Name     object
dtype: object

In [964]:
#Price is float 64 so we do not need to convert Price
#sum of or TOTAL revenues
datafile_df["Price"].sum()

2286.33

In [965]:
#Average Purchase Price is total purchases$ div / total purchases
datafile_df["Price"].mean()

2.931192307692303

In [966]:
#* Total Number of Purchases
len(datafile_df)

780

In [967]:
#**Purchasing Analysis (Total)** - DONE

#**Gender Demographics

#* Percentage and Count of Male Players
male = datafile_df.loc[datafile_df["Gender"] == "Male"]

len(male)

633

In [968]:
percent_male = (float(len(male))/float(total_non_unique_players))
percent_male

0.8115384615384615

In [969]:
#* Percentage and Count of Female Players
female = datafile_df.loc[datafile_df["Gender"] == "Female"]
len(female)

136

In [970]:
percent_female = (float(len(female))/float(total_non_unique_players))
percent_female

0.17435897435897435

In [971]:
#* Percentage and Count of Other / Non-Disclosed

count_other = (len(datafile_df) - (len(male)+ len(female)))
count_other

11

In [972]:
#* Percentage and Count of Other / Non-Disclosed


percent_other = (1 -(percent_male + percent_female))
percent_other

0.014102564102564052

In [973]:
#Purchasing Analysis (Gender)** 

#* The below each broken by gender - looking at full data not unique males or females since purchases are the topic
#  * Purchase Count

male_purchase_count = datafile_df.loc[datafile_df["Gender"] == "Male"]
female_purchase_count = datafile_df.loc[datafile_df["Gender"] == "Female"]



len(male_purchase_count)

633

In [974]:
len(female_purchase_count)

136

In [975]:
male_total_sum_df = (datafile_df.loc[datafile_df["Gender"] == "Male"])
male_purchase_sum = male_total_sum_df["Price"].sum()

female_total_sum_df = (datafile_df.loc[datafile_df["Gender"] == "Female"])
female_purchase_sum = female_total_sum_df["Price"].sum()

In [976]:
# * Total Purchase Value
male_purchase_sum

1867.68

In [977]:
# * Total Purchase Value
female_purchase_sum

382.90999999999997

In [978]:
# * Average Male Purchase Price
male_purchase_sum/len(male_purchase_count)

2.950521327014218

In [979]:
# * Average Female Purchase Price
female_purchase_sum/len(female_purchase_count)

2.815514705882353

In [980]:
#vernon_crime_df = no_null_crime_df.loc[no_null_crime_df["Neighborhood"] == "Vernon"]

# * Normalized Totals

In [981]:
#*Age Demographics**

#* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
bins = [0, 10, 14, 19, 23, 27, 31, 35, 39, 43, 47, 51, 100]
group_names = ['ZeroT10', '10TO14', '14TO19', '19TO23', '23TO27', '27TO31','31TO35','35TO39','39TO43','43TO47', '47TO51' ,'51andABOVE']
bin_df = datafile_df
bin_df["Age"]= pd.cut(bin_df["Age"], bins, labels=group_names)

In [982]:
purchase_count = bin_groups['Price'].count()
purchase_count
# * Purchase Count

Age
ZeroT10        32
10TO14         31
14TO19        133
19TO23        266
23TO27        169
27TO31         60
31TO35         42
35TO39         30
39TO43         16
43TO47          1
47TO51          0
51andABOVE      0
Name: Price, dtype: int64

In [983]:
#  * Average Purchase Price
avg_purch_price = bin_groups['Price'].mean()
avg_purch_price

Age
ZeroT10       3.019375
10TO14        2.702903
14TO19        2.905414
19TO23        2.877105
23TO27        3.017870
27TO31        2.956667
31TO35        3.110476
35TO39        2.746000
39TO43        3.189375
43TO47        2.720000
47TO51             NaN
51andABOVE         NaN
Name: Price, dtype: float64

In [984]:
#  * Total Purchase Value
total_purch_price = bin_groups['Price'].sum()
total_purch_price

Age
ZeroT10        96.62
10TO14         83.79
14TO19        386.42
19TO23        765.31
23TO27        510.02
27TO31        177.40
31TO35        130.64
35TO39         82.38
39TO43         51.03
43TO47          2.72
47TO51          0.00
51andABOVE      0.00
Name: Price, dtype: float64

In [985]:
#  * Normalized Totals

In [986]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
 # * SN


total_pv = datafile_df.groupby(["Player Name"]).sum()["Price"]
total_pv
#need a loop to go thru the DF and identify news rows with same playername and update the original playername row with total purchases

Player Name
Adairialis76        2.46
Aduephos78          6.70
Aeduera68           5.80
Aela49              2.46
Aela59              1.27
Aelalis34           5.06
Aelin32             3.14
Aeliriam77          6.72
Aeliriarin93        2.04
Aeliru63            8.98
Aellyria80          4.32
Aellyrialis39       3.15
Aellysup38          3.61
Aelollo59           1.55
Aenarap34           1.65
Aenasu69            3.27
Aeral43             2.72
Aeral85             4.25
Aeral97             2.35
Aeri84              6.60
Aerillorin70        1.88
Aerithllora36      10.45
Aerithnucal56       3.18
Aerithnuphos61      1.69
Aerithriaphos45     2.38
Aesty51             1.82
Aesur96             4.66
Aethe80             2.32
Aethedru70          2.97
Aidain51            6.84
                   ...
Undjaskla97         4.57
Undjasksya56        4.53
Undotesta33         3.90
Wailin72            2.04
Whaestysu86         4.08
Yadacal26           1.93
Yadaisuir65         8.56
Yadanun74           9.09
Yalaeria91          1.88
Yaliru88            3.71
Yalo71              2.41
Yalostiphos68       2.37
Yaralnura48         4.19
Yararmol43          1.55
Yarirarn35          2.88
Yaristi64           1.24
Yarithllodeu72      2.19
Yarithphos28        2.35
Yarithsurgue62      4.81
Yarmol79            2.91
Yarolwen77          6.98
Yasriphos60        10.40
Yasrisu92           2.60
Yasur35             2.78
Yasur85             2.04
Yasurra52           3.14
Yathecal72          7.77
Yathecal82          2.41
Zhisrisu83          2.46
Zontibe81           3.71
Name: Price, Length: 573, dtype: float64

In [987]:
 # * Purchase Count
purchase_count = datafile_df.groupby(["Player Name"]).count()["Price"]
purchase_count

Player Name
Adairialis76       1
Aduephos78         3
Aeduera68          3
Aela49             1
Aela59             1
Aelalis34          2
Aelin32            1
Aeliriam77         2
Aeliriarin93       1
Aeliru63           2
Aellyria80         1
Aellyrialis39      1
Aellysup38         1
Aelollo59          1
Aenarap34          1
Aenasu69           1
Aeral43            1
Aeral85            1
Aeral97            1
Aeri84             2
Aerillorin70       1
Aerithllora36      3
Aerithnucal56      2
Aerithnuphos61     1
Aerithriaphos45    1
Aesty51            1
Aesur96            1
Aethe80            1
Aethedru70         1
Aidain51           2
                  ..
Undjaskla97        1
Undjasksya56       1
Undotesta33        1
Wailin72           1
Whaestysu86        1
Yadacal26          1
Yadaisuir65        2
Yadanun74          3
Yalaeria91         1
Yaliru88           1
Yalo71             1
Yalostiphos68      1
Yaralnura48        2
Yararmol43         1
Yarirarn35         1
Yaristi64          1
Yarithllodeu72     1
Yarithphos28       1
Yarithsurgue62     2
Yarmol79           1
Yarolwen77         2
Yasriphos60        3
Yasrisu92          1
Yasur35            1
Yasur85            1
Yasurra52          1
Yathecal72         2
Yathecal82         1
Zhisrisu83         2
Zontibe81          1
Name: Price, Length: 573, dtype: int64

In [988]:
 # * Average Purchase Price
avg_purchase = datafile_df.groupby(["Player Name"]).mean()["Price"]
avg_purchase

Player Name
Adairialis76       2.460000
Aduephos78         2.233333
Aeduera68          1.933333
Aela49             2.460000
Aela59             1.270000
Aelalis34          2.530000
Aelin32            3.140000
Aeliriam77         3.360000
Aeliriarin93       2.040000
Aeliru63           4.490000
Aellyria80         4.320000
Aellyrialis39      3.150000
Aellysup38         3.610000
Aelollo59          1.550000
Aenarap34          1.650000
Aenasu69           3.270000
Aeral43            2.720000
Aeral85            4.250000
Aeral97            2.350000
Aeri84             3.300000
Aerillorin70       1.880000
Aerithllora36      3.483333
Aerithnucal56      1.590000
Aerithnuphos61     1.690000
Aerithriaphos45    2.380000
Aesty51            1.820000
Aesur96            4.660000
Aethe80            2.320000
Aethedru70         2.970000
Aidain51           3.420000
                     ...
Undjaskla97        4.570000
Undjasksya56       4.530000
Undotesta33        3.900000
Wailin72           2.040000
Whaestysu86        4.080000
Yadacal26          1.930000
Yadaisuir65        4.280000
Yadanun74          3.030000
Yalaeria91         1.880000
Yaliru88           3.710000
Yalo71             2.410000
Yalostiphos68      2.370000
Yaralnura48        2.095000
Yararmol43         1.550000
Yarirarn35         2.880000
Yaristi64          1.240000
Yarithllodeu72     2.190000
Yarithphos28       2.350000
Yarithsurgue62     2.405000
Yarmol79           2.910000
Yarolwen77         3.490000
Yasriphos60        3.466667
Yasrisu92          2.600000
Yasur35            2.780000
Yasur85            2.040000
Yasurra52          3.140000
Yathecal72         3.885000
Yathecal82         2.410000
Zhisrisu83         1.230000
Zontibe81          3.710000
Name: Price, Length: 573, dtype: float64

In [989]:
# * Total Purchase Value
    
top_spend = pd.DataFrame({"Purchase Count":purchase_count, "Average Purchase Price": avg_purchase, "Total Purchase Value": total_pv})
top_spend.sort_values("Total Purchase Value", ascending = False).head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
Player Name
Undirrala66               5                3.412000                 17.06
Saedue76                  4                3.390000                 13.56
Mindimnya67               4                3.185000                 12.74
Haellysu29                3                4.243333                 12.73
Eoda93                    3                3.860000                 11.58

In [998]:
#**Most Popular Items**

#* Identify the 5 most popular items by purchase count, then list (in a table):
#  * Item ID

popular_name = datafile_df.groupby(["Item Name"]).count()

popular_name= popular_name.sort_values("Player Name", ascending = False)


#  * Item Name
#  * Purchase Count
#  * Item Price
#  * Total Purchase Value

In [999]:
popular_name.head()

                                      Age  Gender  Item ID  Price  Player Name
Item Name
Final Critic                           14      14       14     14           14
Arcane Gem                             11      11       11     11           11
Betrayal, Whisper of Grieving Widows   11      11       11     11           11
Stormcaller                            10      10       10     10           10
Woeful Adamantite Claymore              9       9        9      9            9

In [1000]:
#Most Profitable
# Identify the 5 most profitable items by total purchase value, then list (in a table):
 # * Item ID
#* Item Name
 # * Purchase Count
#  * Item Price
#  * Total Purchase Value

tpv = datafile_df.groupby(["Item Name"]).sum()
tpv = tpv.sort_values("Item ID", ascending = False)

tpv.head()

                                 Item ID  Price
Item Name
Woeful Adamantite Claymore          1575  11.16
Final Critic                        1342  38.60
Wolf, Promise of the Moonwalker     1253  13.16
Darkheart                           1216  25.20
Blade of the Grave                  1204  11.83

In [ ]:
final =